

$col1: #4A306D;
$col2: #A167A5;
$col3: #EFCB68;
$bg: #222;
$text: #262626;
$grey-light: #A3A9AA;
$red: #e52b2b;
$green: #76ea70;

$textshadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, div, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block; box-sizing: border-box;
}

ul, ol { list-style: none; }

html, body {
    margin: 0;
    padding: 0;
    color: $text;
    text-align: left;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    font-family: 'Helvetica', "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: $col1;
    &:hover, &:active, &:focus {
    color: $col2;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', 'Helvetica', "Arial", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 2.8em;
    color: $col2;   
}


p { line-height: 1.25em; margin: 0.5em 0;  }
ul {
    margin: 0 0 2em 0;
    li { line-height: 1.25em; }
}
b, strong, .bold { font-weight: bolder; }

.emph { font-weight: bolder; font-size: 1.1em; }

img {
    border: 0;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.hide { display: none; }
.mbottom { margin-bottom: 2rem; }

.wrap {
    margin: 0 auto;
    padding: 2rem 1rem;
}

#outer { text-align: left; margin: 0 auto; }

.button, button, input[type="submit"] {
    background-color: $col1;
    border-radius: 0.2em;
    color: #fff;
    padding: 1em;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: .007px;
    text-transform: uppercase;
    cursor: pointer;
    
}

.button.subscribe { 
    background: #f00; 
    padding: 0.625em 0.875em;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    &:hover { color: #fff; }
}

// all nav
nav {
    background: $bg;
    color: lighten($text, 10%);
    text-shadow: $textshadow;
    font-family: 'Poppins', 'Helvetica', "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    
    a { font-weight: bolder; transition: color 300ms ease-in; }
    a:hover { color: $col3; }
    ul { margin: 0; padding: 0; }
    li { }

}

// content blocks
.flex { display: static; }

main, aside {
    padding: 2rem 0;
    display: block;
}

aside.sidebar {
    border: 1px solid $grey-light;
    border-radius: 1rem;
    padding: 1rem;
}

footer {
    background: $bg;
    color: lighten($text, 10%);
    text-shadow: $textshadow;
    font-family: 'Poppins', 'Helvetica', "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}


// home page

#home { 
    background-color: $col1;

    main {
        h1 { 
            color: $col3;
            font-size: calc(3vw + 3rem);
            font-weight: bolder;
            text-transform: uppercase;
        }
        p { color: #fff; }
    }
}
.latest-home {

    li {
        line-height: 1;
        border-top: 1px dotted $grey-light;
        
        &:first-child { border: 0; }

        a { 
            color: $col2;
            display: block;
            padding: 1em;
            transition: color 400ms ease-in-out;
            font: {
                size: 1.1em;
                weight: bolder;
            }
            span {
                display: block;
                padding: 0.25em 0 0 0;
                font-weight: normal;
                font-size: 0.9em;
                color: $grey-light;
                transition: color 400ms ease-in-out;
            }

        }

        &:hover { 
            a { color: $col3; }
            span { color: #fff; }
        }
    }

}


// add review page

#review {
    #yt-wrap { padding: 0; overflow: hidden; transition: padding 1s ease-in 1s; }
    #sleeve { opacity: 0; transition: opacity 1s ease-in 1s }
}

#review.show { 
    #yt-wrap { padding-bottom: 16%; }
    #sleeve { opacity: 1; }
}

#yt-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 16.5%;
}
#yt-banner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: {
        color: #fff;
        size: 100% auto;
        position: center center;
        repeat: no-repeat;
    }
}

#chan-wrap { margin: 1rem auto 0 auto; width: 85%; }

#chan {
    padding: 1rem;
    font-size: 1.4em;
    border: 2px dashed $text;
}
#chan.valid { color: $green; border-color: $green; }
#chan.invalid { color: $red; border-color: $red; }
#chan-error { color: $red; font-weight: bolder; text-transform: uppercase; }

#prev-info {

    color: lighten($text, 10%);

    #prev-heading { 
        line-height: 75px;
        padding-left: 2rem;
        font-family: 'Pragati Narrow', 'Arial', sans-serif;
        font: {
            size: 2.2em;
            weight: bolder;
        }
        color: $col2;
        flex-grow: 1;
    }

    #prev-heading.long-title { font-size: 1.2em; }

    #prev-thumb {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        background: {
            color: #fff;
            size: 100% auto;
            position: center center;
            repeat: no-repeat;
        }
    }

    #prev-desc {
        overflow: hidden;
        overflow-wrap: anywhere;
        //hyphens: auto;
        word-break: normal;
        word-break: break-word;
        font-style: italic;
        line-height: 1.5em;
        font-size: 14px;
    }
}

.review {
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px dotted $grey-light;

    &:first-child { border-top: 0; }

    h2 { 
        color: $col1;
        font: {
            size: 1.5em;
            weight: 600;
        }
        margin-bottom: 4px;
        text-transform: uppercase;
    }

}

/* forms */

form {
    border: 0; padding: 0; margin: 0;

    ul li { margin-bottom: 1.5rem; }
}

label { 
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $grey-light;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: $text;
}
input:focus, textarea:focus { outline: none; }


/* desktop */
@media only screen and (min-width: 959px) {

h1, h2, h3, h4, h5, h6 { 
}

nav { 
    .wrap { padding: 2rem 0; }
    li { display: inline; margin-right: 1em; }
}

.wrap { 
    max-width: 1200px;
    padding: 3rem 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;


}
.flex .f2 { flex: 2 1 0; }

main {
    flex: 2 1 0;
    align-self: flex-start;
    padding: 0;
    margin-right: 2rem;
    min-width: 40%;
}

aside {
    flex: 1 1 0;
    padding: 0;
    margin-left: 2rem;
}


#home {
    padding: 3rem 0;

    .flex.wrap { 
        align-content: center;
        align-items: center;

        main, aside { align-self: center; }

    }

    min-height: 75vh;
    background: {
        image: url(../images/home.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }

}







// end desktop
}