<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }} - YouTube channel review</title>
  <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="outer">
    <nav>
        <div class="wrap">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/channels">Channels</a></li>
                <li><a href="/review/add">Add review</a></li>
                <li>Logout</li>
            </ul>
        </div>
    </nav>


      {{{ body }}}

  




  </div>
  <footer>
      <div class="wrap">
          <p><b>Tube Review</b> - 2019</p>
          <p>Node / Express / MongoDB / Handlebars</p>
      </div>
  </footer> 
</body>
</html>
