<div id="review">
    <div id="yt-wrap"><div id="yt-banner"></div></div>
    <div class="wrap">
        <h1>Add review</h1>
        <p>Review a channel paste the URL in the box below</p>
        <div id="chan-wrap">
            <input id="chan" disabled>
            <p id="chan-error"></p>
        </div>
    </div>
    <div id="sleeve">
        <div class="wrap flex">
            <main class="f2">
                <form action="/review/add" method="POST">
                    <ul> 
                        <li>
                            <label for="rating">Rating</label>
                            <input type="text" id="rating-score" name="ratingScore">
                        <li>
                            <label for="rating-title">Rating title</label>
                            <input type="text" id="rating-title" name="ratingTitle" minlength="2" maxlength="200">            
                        </li>
                        <li>
                            <label for="rating-content">Review</label>
                            <textarea id="rating-content" name="ratingContent" minlength="2" maxlength="200"></textarea>           
                        </li>
                        <li>
                            <input type="hidden" id="rating-url" name="ratingUrl">
                            <input type="hidden" id="channel-title" name="channelTitle">
                            <input type="hidden" id="channel-id" name="channelId">
                            <input type="hidden" id="channel-banner" name="channelBanner">
                            <input type="hidden" id="channel-thumb" name="channelThumb">
                            <input type="hidden" id="channel-description" name="channelDescription">    
                        </li>                    
                        <li>
                            <input type="submit" value="Add review"></input>
                        </li>
                    </ul>
                </form>
            </main>
            <aside class="sidebar" id="prev-info">
                <div class="flex mbottom">
                    <div id="prev-thumb"></div>
                    <div id="prev-heading">Chan preview</div>
                </div>
                <div id="prev-desc"></div>
                <div class="hide">
                    <button id="signin-button" onclick="handleSignInClick()">Sign In</button>
                    <button id="signout-button" onclick="handleSignOutClick()">Sign Out</button>
                </div>
            </aside>
        </div>
    </div>
</div>
{{> footer}}
<script src="/javascripts/yt-api-add.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
    onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
