<div id="yt-wrap"><div id="yt-banner" style="background-image: url('../images/home.jpg')"></div></div>
<div class="wrap flex">
    {{#each chanList}}
    <div class="chanList">
            <a href="/review/{{this.ratingUrl}}">{{this.channelTitle}}</a>
    </div>
    {{/each}}
</div>