<div id="home">
    <div class="wrap flex">
        <main>
            <h1>{{ title }}</h1>
            <p>YouTube channel review site</p>
        </main>
        <aside>
            <h2>Latest reviews</h2>
            <ul class="latest-home">
            {{#each result}}
                <li>
                    <a href="/review/{{ this.ratingUrl }}">
                        {{ this.channelTitle }}
                        <span>{{ this.reviews.[0].ratingTitle }}</span>
                    </a>
                </li>
            {{/each}}
            </ul>
        </aside>
    </div>
</div>
{{> footer}}