/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, div, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

html, body {
  margin: 0;
  padding: 0;
  color: #262626;
  text-align: left;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #4A306D;
}
a:hover, a:active, a:focus {
  color: #A167A5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 2.8em;
  color: #A167A5;
}

p {
  line-height: 1.25em;
  margin: 0.5em 0;
}

ul {
  margin: 0 0 2em 0;
}
ul li {
  line-height: 1.25em;
}

b, strong, .bold {
  font-weight: bolder;
}

.emph {
  font-weight: bolder;
  font-size: 1.1em;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

.hide {
  display: none;
}

.mbottom {
  margin-bottom: 2rem;
}

.wrap {
  margin: 0 auto;
  padding: 2rem 1rem;
}

#outer {
  text-align: left;
  margin: 0 auto;
}

.button, button, input[type=submit] {
  background-color: #4A306D;
  border-radius: 0.2em;
  color: #EFCB68;
  padding: 1em;
  white-space: nowrap;
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.007px;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover, button:hover, input[type=submit]:hover {
  background-color: #A167A5;
  color: #4A306D;
}

.button.subscribe {
  background: #f00;
  color: #fff;
  padding: 0.5em 0.7em;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  transition: width 400ms ease-in;
}
.button.subscribe:hover {
  color: #fff;
}

nav {
  background: #222;
  color: #404040;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
nav a {
  font-weight: bolder;
  transition: color 300ms ease-in;
}
nav a:hover {
  color: #EFCB68;
}
nav ul {
  margin: 0;
  padding: 0;
}
main, aside {
  padding: 2rem 0;
  display: block;
}

aside.sidebar {
  border: 1px solid #A3A9AA;
  border-radius: 1rem;
  padding: 1rem;
}

footer {
  background: #222;
  color: #404040;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

#home {
  background-color: #4A306D;
}
#home main h1 {
  color: #EFCB68;
  font-size: calc(3vw + 3rem);
  font-weight: bolder;
  text-transform: uppercase;
}
#home main p {
  color: #fff;
}

.latest-home li {
  line-height: 1;
  border-top: 1px dotted #A3A9AA;
}
.latest-home li:first-child {
  border: 0;
}
.latest-home li a {
  color: #A167A5;
  display: block;
  padding: 1em;
  transition: color 400ms ease-in-out;
  font-size: 1.1em;
  font-weight: bolder;
}
.latest-home li a span {
  display: block;
  padding: 0.25em 0 0 0;
  font-weight: normal;
  font-size: 0.9em;
  color: #A3A9AA;
  transition: color 400ms ease-in-out;
}
.latest-home li:hover a {
  color: #EFCB68;
}
.latest-home li:hover span {
  color: #fff;
}

#review #yt-wrap {
  padding: 0;
  overflow: hidden;
  transition: padding 1s ease-in 1s;
}
#review #sleeve {
  opacity: 0;
  transition: opacity 1s ease-in 1s;
}

#review.show #yt-wrap {
  padding-bottom: 16%;
}
#review.show #sleeve {
  opacity: 1;
}

#yt-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 16.5%;
}

#yt-banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

#chan-wrap {
  margin: 1rem auto 0 auto;
  width: 85%;
}

#chan {
  padding: 1rem;
  font-size: 1.4em;
  border: 2px dashed #262626;
}

#chan.valid {
  color: #76ea70;
  border-color: #76ea70;
}

#chan.invalid {
  color: #e52b2b;
  border-color: #e52b2b;
}

#chan-error {
  color: #e52b2b;
  font-weight: bolder;
  text-transform: uppercase;
}

#prev-info {
  color: #404040;
}
#prev-info #prev-heading {
  line-height: 75px;
  padding-left: 2rem;
  font-family: "Pragati Narrow", "Arial", sans-serif;
  font-size: 2.2em;
  font-weight: bolder;
  color: #A167A5;
  flex-grow: 1;
}
#prev-info #prev-heading.long-title {
  font-size: 1.2em;
}
#prev-info #prev-thumb {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #fff;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
#prev-info #prev-desc {
  overflow: hidden;
  overflow-wrap: anywhere;
  word-break: normal;
  word-break: break-word;
  font-style: italic;
  line-height: 1.5em;
  font-size: 14px;
}

.review {
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px dotted #A3A9AA;
  position: relative;
}
.review:first-child {
  border-top: 0;
}
.review h2 {
  color: #4A306D;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 4px;
  margin-right: 120px;
  text-transform: uppercase;
}
.review span {
  position: absolute;
  right: 0;
  margin-top: -1.75rem;
  font-size: 11px;
  text-transform: uppercase;
  color: #A3A9AA;
}

.chanList {
  width: 25%;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}
.chanList .count {
  padding: 0.5rem 0.75rem;
  line-height: 1;
  color: #fff;
  font-weight: bolder;
  background: #4A306D;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.chanList p {
  margin-top: 0.5em;
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
}
.chanList a {
  transition: color 400ms ease-in;
  color: #A3A9AA;
}
.chanList a:hover {
  color: #4A306D;
}

/* forms */
form {
  border: 0;
  padding: 0;
  margin: 0;
}
form ul li {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

input, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #A3A9AA;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #262626;
}

input:focus, textarea:focus {
  outline: none;
}

/* desktop */
@media only screen and (min-width: 959px) {
  nav .wrap {
    padding: 2rem 0;
  }
  nav li {
    display: inline;
    margin-right: 1em;
  }

  .wrap {
    max-width: 1200px;
    padding: 3rem 0;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .flex .f2 {
    flex: 2 1 0;
  }

  main {
    flex: 2 1 0;
    align-self: flex-start;
    padding: 0;
    margin-right: 2rem;
    min-width: 40%;
  }

  aside {
    flex: 1 1 0;
    padding: 0;
    margin-left: 2rem;
  }

  #home {
    padding: 3rem 0;
    min-height: 75vh;
    background-image: url(../images/home.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #home .flex.wrap {
    align-content: center;
    align-items: center;
  }
  #home .flex.wrap main, #home .flex.wrap aside {
    align-self: center;
  }

  .chanList {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
